<html>
    <head>
        <title>Result</title>
    </head>
    <body>
        <p>Name: <%=name%></p>
        <p>City: <%=city%></p>
        <p>Phone: <%=phone%></p>
        <p>Age: <%=age%></p>
    </body>
    <a href="/form">Form</a>
</html>